<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blazor-Revolut-Card-Payment.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script>
        !function (e, o, t) { var n = { sandbox: "https://sandbox-merchant.revolut.com/embed.js",
        prod: "https://merchant.revolut.com/embed.js",
        dev: "https://merchant.revolut.codes/embed.js" },
        r = { sandbox: "https://sandbox-merchant.revolut.com/upsell/embed.js", 
             prod: "https://merchant.revolut.com/upsell/embed.js", 
             dev: "https://merchant.revolut.codes/upsell/embed.js" }, 
        l = function (e) { var n = function (e) { var t = o.createElement("script"); return t.id = "revolut-checkout", t.src = e, t.async = !0, o.head.appendChild(t), t }(e); return new Promise((function (e, r) { n.onload = function () { return e() }, n.onerror = function () { o.head.removeChild(n), r(new Error(t + " failed to load")) } })) }, u = function () { if (window.RevolutCheckout === i || !window.RevolutCheckout) throw new Error(t + " failed to load") }, c = {}, d = {}, i = function o(r, d) { return c[d = d || "prod"] ? Promise.resolve(c[d](r)) : l(n[d]).then((function () { return u(), c[d] = window.RevolutCheckout, e[t] = o, c[d](r) })) }; i.payments = function (o) { var r = o.mode || "prod", d = { locale: o.locale || "auto", publicToken: o.publicToken || null }; return c[r] ? Promise.resolve(c[r].payments(d)) : l(n[r]).then((function () { return u(), c[r] = window.RevolutCheckout, e[t] = i, c[r].payments(d) })) }, i.upsell = function (e) { var o = e.mode || "prod", n = { locale: e.locale || "auto", publicToken: e.publicToken || null }; return d[o] ? Promise.resolve(d[o](n)) : l(r[o]).then((function () { if (!window.RevolutUpsell) throw new Error(t + " failed to load"); return d[o] = window.RevolutUpsell, delete window.RevolutUpsell, d[o](n) })) }, e[t] = i }(window, document, "RevolutCheckout");
    </script>
</body>

</html>
